<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SoundScope</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  </head>
  <body>
    <div class = 'user'>
        <container class="user-info">
            <img class="user-photo" src={{photo_url}} alt="That's you!">
            <h1 class="title is-1"> Hello, {{ username }} </h1>  
        </container>
        <h2 class="subtitle is-4"> popularity rating: {{ popularity }}/100 </h2>
    </div>

        <!-- list out top artists -->
    <div class="top-artists">
        <h2 class="subtitle is-2"> Your Top Artists </h2>
        <ul>
            {% for artist, img_url in artists_photos.items() %}
                <li>
                    <span class="artist-name"><strong>{{ artist }}</strong></span>
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{img_url}}" alt="{{ artist }}">
                    </figure>   
                </li>
            {% endfor %}
        </ul>
    </div>

        <!-- list out top tracks -->
         <div class="top-tracks">
            <h2 class="subtitle is-2"> Your Top Tracks </h2>
            <ul>
                {% for track, img_url in tracks_photos.items() %}
                <li>
                    <span class="track-name"><strong>{{ track }}</strong></span>
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{img_url}}" alt="{{ track }}">
                    </figure>   
                </li>
                {% endfor %}
            </ul>
         </div>
</body>
</html>