<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SoundScope</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabs_style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  </head>
  <body>
    <div class="container">
        <section class="panel">
             <!-- create user profile -->
             <div class = 'user'>
                 <container class="user-info">
                     <img class="user-photo" src={{photo_url}} alt="That's you!">
                     <h1 class="title is-1"> Hello, {{ username }} </h1>  
                 </container>
                 <h2 class="subtitle is-4"> popularity rating: {{ popularity }}/100 </h2>
             </div>
        </section>


        <section class="panel tabbed">
            <h2 class="subtitle is-2 top-title"> Your Top Artists </h2>
            <!-- list out top artists -->
            {% include 'top_artists_menu.html' %}

        </section>

        <section class="panel tabbed">
            <h2 class="subtitle is-2 top-title"> Your Top Tracks </h2>
            <!-- list out top tracks -->
            {% include 'top_tracks_menu.html' %}
        </section>

    </div>
   

    

    <!-- create currently playing player -->
    <div class="currently-playing">
        <button class="image-button">
            <figure class="image is-64x64">
                <img class="curr_track_photo" src="{{ curr_track_photo }}" alt="Currently Playing">
                <div class="sound-wave {% if not playback %} hidden {% endif %}">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>                              
                                
                {% if not playback %}
                    <i class="fa-solid fa-pause overlay-icon"></i>
                {% endif %}
            </figure>
        </button>
        <h5 class = "title is-5 curr-track-name">{{ curr_track_name }} </h5>
    </div>

    <script src="{{ url_for('static', filename='js/scroll_control.js') }}"></script>
    <script src="{{ url_for('static', filename='js/update_song.js') }}"></script>
    <script src="{{ url_for('static', filename='js/top_tabs.js') }}"></script>
</body>
</html>