
<!-- Tabs Navigation -->
<div class="tabs is-fullwidth">
    <ul>
        <li class="is-active" data-tab="artists-4w">
            <a>
                <span>4 Weeks</span>
            </a>
        </li>
        <li data-tab="artists-6m">
            <a>
                <span>6 Months</span>
            </a>
        </li>
        <li data-tab="artists-1y">
            <a>
                <span>1 Year</span>
            </a>
        </li>
    </ul>
</div>

<!-- Tabs Content -->
<div class="tab-content is-active" id="artists-4w">
  <div class="top-artists">
    <ul>
        {% for artist, img_url in artists_photos_4w.items() %}
            <li>
                <div class="artist-container">
                    <h5 class="title is-5 artist-name">{{ artist }}</h5>
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{img_url}}" alt="{{ artist }}">
                    </figure>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</div>

<div class="tab-content" id="artists-6m">
  <div class="top-artists">    
    <ul>
        {% for artist, img_url in artists_photos_6m.items() %}
            <li>
                <div class="artist-container">
                    <h5 class="title is-5 artist-name">{{ artist }}</h5>
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{img_url}}" alt="{{ artist }}">
                    </figure>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</div>

<div class="tab-content" id="artists-1y">
  <div class="top-artists">    
    <ul>
        {% for artist, img_url in artists_photos_1y.items() %}
            <li>
                <div class="artist-container">
                    <h5 class="title is-5 artist-name">{{ artist }}</h5>
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{img_url}}" alt="{{ artist }}">
                    </figure>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</div>
